*.tfvars
*.tfstate*
.terraform
terraform.tf
provider.tf
regions.tf
**/inspec.lock
*.gem
.kitchen
.kitchen.local.yml
Gemfile.lock
terraform.tfstate*
backup*
.DS*
modules/database
modules/global
modules/security
modules/services
